 body {
     font-family: 'Bungee Spice', sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.6;
     text-align: center;
     background-color: darkgrey;
 }

.row {
  margin-top: 60px;
}

.modal {
  background-color: darkgrey;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color:black;
}